{% extends 'base.html' %}
{% block body %}
<style>.card :hover{
    box-shadow: 2px solid white;
    outline-color: 1px solid white;

}
</style>
<div class="container" style="display: flex; justify-content: space-evenly;flex-wrap: wrap; padding-top: 20px;">
{% for i in all %}

<div class="card" style="width: 20rem; margin-bottom: 20px;">
    <img src="{{i.cover.url}}" class="card-img-top" height="350px">
    <div class="card-body">
      <h5 class="card-title">{{i.title}}</h5>
      <p class="card-text">Author: {{i.author}} | {{i.timestamp}}</p>
      <label>Likes: {{i.likes}}</label>
      <a href="/post/{{i.id}}" class="btn btn-primary">Read</a>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}