{% extends 'base.html' %}

{% block body %}

<div class="card" style=" display:flex;margin-top: 10%;margin-bottom: 20px;margin-left: 20px;margin-right: 20px;height: 200px;justify-content: center;align-items: center;">
    <pre style="text-align: center; font-size: large;">Have anything on your mind? Anything intresting?Want to share it to the world?
    Here  is the place.You can write, post pictures supporting your article and let the people know your thoughts.
   And also get feedback from your readers which helps you improve your writing.</pre>
  
  </div>
  
{% endblock %}